#root {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #242424;
  padding: 50px;
}

nav img{
  width: 5%;
  height: 5%;
}

.landing{
  justify-content: left;
  background-color: #242424;
  padding: 50px;
}

.features{
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
  background-color: white;
  color: black;
}

.features p{
  color: black;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
