.mainSection {
  color: #000;
  width: 100%;
  background-color: #1f2535;
  display: flex;
  flex-direction: column;
  margin: 1em;
  .menu {
    display: flex;
    padding: 2em 3em 2em 3em;
    justify-content: space-between;
    align-items: center;
  }
  .message {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1em 3em 1em 3em;
    text-align: start;
    h1 {
      margin: 3em 0 0 0;
      max-width: 400px;
      font-size: 4em;
    }
    p {
      font-size: 1.2em;
      line-height: 1.5;
      max-width: 18em;
    }
    h1,
    p {
      color: #fff;
      padding: 0;
    }
    button {
      font-size: 1em;
      font-weight: 700;
      padding: 1.2em;
      border-radius: 0.25em;
      border: none;
      margin: 3em 0 3em 0;
    }
  }
}
