h1 {
    font-size: 100px;
    font-weight: bold;
    max-width: 35%;
    margin-top: 100px;
    margin-left: 100px;
    color: white;
}

span {
    max-width: 25%;
    font-size: 25px;
    font-weight: bold;
    margin-top: 15px;
    margin-left: 100px;
    color: white;
}

button {
    margin-top: 100px;
    max-width: 8%;
    margin-left: 100px;
    height: 65px;
}