#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #0f2368;
}

h2 {
  font-size: 25px;
}

.white-background {
  background-color: white;
  color: black;
}

#general-information {
  display: flex;
  justify-content: space-evenly;
}

.Card {
  width: 100%;
  margin: 0 auto;
  padding: 75px 0;
}

.Container {
  display: flex;
  width: 100%;
  align-items: space-evenly;
  flex-direction: row;
}

.NavBar {
  display: flex;
  justify-content: space-between;
}

.read-the-docs {
  color: white;
  width: 40%;
  text-align: left;
}

.app {
  width: 100%;
}

.button onClick {
  border-radius: 50px;
}

h1 {
  text-align: left;
  width: 50%;
  font-size: 10rem;
}
