#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: blue;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.Container {
  background-color: yellow;
}

.card {
  padding: 2em;
  border-radius: 20px;
  color: white;
}

.read-the-docs {
  color: white;
  width: 40%;
  text-align: left;
}

.app {
  width: 50%;
}

.button onClick {
  border-radius: 50px;
}

h1 {
  text-align: left;
  width: 50%;
  font-size: 10rem;
}
