.main-text {
  display: flex;
  flex-direction: column;
  width: 40vw;
  margin: 0 50px;
}

.main-text p {
  text-align: left;
  font-size: 16px;
  width: 35vw;
  margin-bottom: 40px;
}

.main-text h1 {
  font-size: 2.5em;
  text-align: left;
  margin-bottom: 0;
  margin-top: 80px;
  line-height: 50px;
}

.main-text button {
  font-size: 18px;
  width: 15vw;
  height: 8vh;
  border-radius: 5px;
  border: none;
  /* background-color: blueviolet; */
}
