.card{

    text-align: left;
    width:200px;
}
.card-title{
    margin-bottom:0px;
}

.card p {

    color:gray;
    font-size: 18px;
    margin-top:10px;
}

.card-img{

    height:auto;
    width:100px;
}