.main-page{
    background-color: rgb(41, 41, 41);
    color:white;
    padding:20px 50px 100px 50px;
    margin:20px 20px 120px;
    text-align: left;
}

.main-page h1{
    font-size:50px;
    line-height: 1;
    margin:140px 0 0;
}

.button{
    font-family: inherit;
    font-weight: bold;
    padding: 15px;
    font-size: 1.5rem;
    border-radius: 5px;
    border-width: 0;
    margin: 30px 0;
}
.icons-flex{
    display:flex;
    justify-content: space-between;
}

.icons{
    height:18px;
    width:23px;
}
.main-page__text{

    align-items: center;
    text-align: left;
    width:250px;
}