body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-size: 5rem;
}

p {
  font-size: 1.5rem;
  position: relative;
  top: -50px;
}

nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: #1e2333;
  padding: 30px;
}

.feature-item {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  width: fit-content;
  width: 200px;
  padding: 10px;
}

.content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  color: #fff;
  background-color: #1e2333;
  text-align: left;
  padding: 0 55vw 100px 30px;
}

.features {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: baseline;
  margin: 80px;
  text-align: left;
}

button {
  padding: 20px 30px;
  border-radius: 5px;
  border: none;
  font-weight: 700;
  font-size: 1rem;
  margin-top: 30px;
}
