.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  text-align: left;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-left: 50px;
  padding-right: 40vw;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav {
  padding: 20px 50px 100px 0;
  display: flex;
  flex-direction:  row;
  justify-content: space-between;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 100px;
}

.btn {
  width: 100px;
  height: 40px;
  background-color: white;
  margin-bottom: 80px;
  margin-top: 40px;
 border: none; 
}
h1 {
  font-size: 60px;
  line-height: 60px;
  margin-bottom: 0;
}


.cards p {
  width: 180px;
}
