
.upperhalf {
    background-color: rgb(13, 13, 61);
    color: azure;
    height: 70vh;
    width: 193vh;
    margin-left: -25px;
    padding: 50px;
    
}

.navBar {
    display: flex;
    justify-content: space-between;
    
}

.button {
    margin-top: 10vh;
    text-size-adjust: 25px;
    height: 50px;
    margin-top: 10vh;
}

.ihlogo {
    margin-left: 50px;

}

.menuTop {
    height: 10px;
}


