#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

img {
  display: block;
  height: 100%;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.top {
  background-color: rgba(31, 37, 53, 1);
  height: 30vh;
  padding: 3rem;
  margin-bottom: 4rem;
}

h1 {
  font-size: 4rem;
}

.main {
  text-align: left;
  margin-bottom: 1rem;
  color: white;
  max-width: 20rem;
}
.main p {
  margin: 0;
}
.main button {
  background-color: white;
  color: rgba(31, 37, 53, 1);
  border-radius: 3px;
  margin-block: 1.5rem;
}

.images {
  display: flex;
  color: rgba(31, 37, 53, 1);
  background-color: white;
}
.image__content img {
  height: 6rem;
}
.image__content {
  width: 13rem;
  text-align: left;
}
header {
  display: flex;
  justify-content: space-between;
}
