.main {
    background-color: #000329;
    height: 400px;
    text-align: left;
    padding: 50px;
  }
  .mainImg{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
  }

.lettering{
  color: white;
}
.flexBox{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main2 {
  width: 1000px;
  height: 600px;
  display: flex;
  justify-content: space-between;
}

.main2 img{
  height: 100px;
  width: 100px;
  margin-top: 100px;
}

.main2 p {
  margin: 0 30px 0 30px;
}