body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
h1 {
  font-weight: 800;
  font-size: 6em;
  text-align: start;
  margin-block-end: 0px;
}

.main-card {
  flex: 1;
  margin: 2em;
  background-color: #1f2535;
  padding: 3em;
  color: white;
}

.main-wrapper {
  flex: 1;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.main-content-wrapper {
  flex: 1;
}

.main-content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.main-content p {
  font-size: 1.6em;
  width: 40%;
  text-align: left;
}

.main-button {
  font-size: 1.8em;
  background-color: white;
  color: #1f2535;
  border-radius: 12px;
  padding: 0.8em;
  text-decoration: none;
  margin: 3em 0em;
}

.article-section-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 3em;
}

.article-section {
  flex: 1;
  display: flex;
}

.article-section h2 {
  font-size: 2em;
}

.article-section p {
  font-size: 1.6em;
  font-weight: 200;
  text-align: left;
}

.article-section-card {
  padding: 2em;
}
