.landing-page {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .landing-content {
    text-align: center;
    margin-top: 20px;
  }
  
  h1 {
    font-size: 24px;
  }
  
  button.awesome-button {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-weight: bold;
  }