.cardholder {
    display: flex;
    margin-top: 90px;
    justify-content: space-between;
    margin-left: 200px;
    margin-right: 200px;
}

img {
    width: 80px;
}

h2 {
    text-align: left;
}

p {
    max-width: 200px;
    text-align: left;
}