.card {
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.card h3 {
    color: black;
    font-weight: 500;
}

.card p {
    color: black;
    font-weight: 400;
}

@media only screen and (max-width: 600px) {
    .card {
        grid-template-columns: auto;
    }
}