.header {
    height: 700px;
    background-color: rgb(34, 34, 46);
    position: relative;
}

.header .header-content {
    color: white;
    position: absolute;
    top: 30%;
    left: 5%;
}

.header .header-content h1 {
    font-size: 80px;
    font-weight: 800;
    line-height: 1;
    margin-bottom: 10px;
}

.header .header-content p {
    font-size: 20px;
    font-weight: 100;
}

.header .header-content button {
    padding: 20px;
    font-size: 20px;
    font-weight: 600;
    color: rgb(34, 34, 46);;
    border: none;
    border-radius: 4px;
    margin-top: 20px;
}