.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav > img {
  width: 2rem;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 2rem;
  padding-right: 3rem;
  padding-left: 3rem;
}

.hello-txt {
  background-color: #1f2535;
  color: white;
  padding-bottom: 5rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: right;
  text-align: left;
}

.txt-and-btn {
  padding: 3rem;
  padding-right: 50%;
}

.txt-and-btn > p {
  font-weight: 200;
}

button {
  background-color: white;
  color: #1f2535;
  font-weight: bold;
  padding: 1.5rem;
  margin: 0;
  border-radius: 0.3rem;
  border-color: #1f2535;
}

.card {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
}

.card > img {
  width: 45%;
}

.second-part {
  display: flex;
  flex-direction: row;
  padding: 2rem 4rem 2rem 4rem;
}
