.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

h1 {
  text-align: left;
  width: 400px;
  margin: 20px;
}
h5 {
  text-align: left;
  width: 400px;
  margin: 20px;
}

button {
  width: 200px;
  height: 100px;
  margin: 20px;
  font-style: normal;
  font-weight: bolder;
}

.iron {
  height: 50px;
  width: 50px;
  margin: 20px;
}

.ironmenu {
  height: 25;
  width: 25;
  margin: 20px;
}

.top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}


.App-header {
  background-color: #282c34;
  
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 5%;
  height: 500px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

footer {
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

footer div {
  width: 200px;
  margin: 50px;
  
}

